<h1>Jess and Tina's Game!</h1>

<img src='http://uptownmagazine.com/files/2014/08/scrabble.jpg'>

<form action='/scores'>
  <div class="form-group">
    <label for="Player1">Player 1 enter your word</label>
    <input id="player1word" name="player1word" class="form-control" type="text">
  </div>


  <div class="form-group">
    <label for="Player2">Player 2 enter your word</label>
    <input id="player2word" name="player2word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
